- for component in @components
  %div#raptor
    %div.picture
      Picture goes here.
    %div
      Name:
      %span= h component.name
    %div
      Age:
      %span= h component.age
    %div
      Cost:
      %span= h component.cost
    %div
      Attack:
      %span= h component.attack
    %div
      Gender:
      %span= h component.gender
    %div
      Description:
      %span= h component.description
    %div
      %span= link_to 'Show me the raptor', component

%p= will_paginate @components
%p= link_to "Invent a New Velociraptor", login_path
