%p= link_to "Breed New Velociraptor", new_members_velociraptor_path
- for velociraptor in @velociraptors
  %div.raptor
    %div.picture= link_to image_tag(velociraptor.photo.url(:thumb)), members_velociraptor_path(velociraptor)
    %div{ :id => "fave#{velociraptor.id}" }
      = render :partial => "velociraptor", :object => velociraptor
    %div
      Name:
      %span= h velociraptor.name
    %div
      Age:
      %span= h velociraptor.age
    %div
      Cost:
      %span= h velociraptor.cost
    %div
      Attack:
      %span= h velociraptor.attack
    %div
      Gender:
      %span= h velociraptor.gender
    %div
      Description:
      %span= h velociraptor.description
    %div
      %span= link_to 'Show me the raptor', members_velociraptor_path(velociraptor)
      - if velociraptor.creator.eql?(current_user)
        %span= link_to 'Edit raptor', edit_members_velociraptor_path(velociraptor)
        %span= link_to 'Kill raptor', members_velociraptor_path(velociraptor), :confirm => 'Are you sure?', :method => :delete

%p= will_paginate @velociraptors
%p= link_to "Breed New Velociraptor", new_members_velociraptor_path
