- form_for [:members, @favorite] do |f|
  = f.error_messages
  %p
    = f.label :user_id
    %br
    = f.text_field :user_id
  %p
    = f.label :component_id
    %br
    = f.text_field :component_id
  %p
    = f.submit
