%p= link_to "Breed a New Velociraptor", new_admin_velociraptor_path
- for velociraptor in @velociraptors
  %div.raptor
    .picture
      =link_to image_tag(velociraptor.photo.url(:thumb)), velociraptor_path(velociraptor)
      %span= link_to 'Star Widget', velociraptor
    %div
      Name:
      %span= h velociraptor.name
    %div
      Age:
      %span= h velociraptor.age
    %div
      Cost:
      %span= h velociraptor.cost
    %div
      Attack:
      %span= h velociraptor.attack
    %div
      Gender:
      %span= h velociraptor.gender
    %div
      Description:
      %span= h velociraptor.description
    %div
      %span= link_to 'Show me the raptor', admin_velociraptor_path(velociraptor)
      %span= link_to 'Edit raptor', edit_admin_velociraptor_path(velociraptor)
      %span= link_to 'Kill raptor', admin_velociraptor_path(velociraptor), :confirm => 'Are you sure?', :method => :delete

%p= will_paginate @velociraptors
%p= link_to "Breed a New Velociraptor", new_admin_velociraptor_path
