%p= link_to "Breed New Velociraptor", new_members_component_path
- for component in @components
  %div.raptor
    %div.picture= link_to image_tag(component.photo.url(:thumb)), members_component_path(component)
    %div
      %span= link_to 'Star Widget', component
    %div
      Name:
      %span= h component.name
    %div
      Age:
      %span= h component.age
    %div
      Cost:
      %span= h component.cost
    %div
      Attack:
      %span= h component.attack
    %div
      Gender:
      %span= h component.gender
    %div
      Description:
      %span= h component.description
    %div
      %span= link_to 'Show me the raptor', members_component_path(component)
      %span= link_to 'Edit raptor', edit_members_component_path(component)
      %span= link_to 'Kill raptor', members_component_path(component), :confirm => 'Are you sure?', :method => :delete

%p= will_paginate @components
%p= link_to "Breed New Velociraptor", new_members_component_path
